@font-face {
    font-family: 'irsans' ;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/iranian-sans.woff') format('woff');
}
html {min-height: 100vh;}
body {
    min-height: 100vh;
    /* background-image: linear-gradient( to right, white , rgba(255, 99, 71, 0.596), white , rgba(255, 99, 71, 0.596), white , rgba(255, 99, 71, 0.596), white , rgba(255, 99, 71, 0.596)) */
    background-color: rgba(255, 99, 71, 0.603);
}
#menuParent {
    position: fixed;
    left: 30px;
    top: 30px;
    width: 10vh;
    height:10%;
    background-color: lightskyblue;
    border-radius: 180px;
    box-shadow: -5px -5px 10px inset black;
}
@keyframes menu {
    from {left: -100%; font-size: 0px;}
    to {left: 0px; font-size: 1em;}
}
.menu { 
    display: flex;
    justify-content: space-between;
    position: fixed;
    animation-name: menu;
    animation-duration: 0.45s;
    width: 100%;
    height: 11.5%;
    top: 30px;
    z-index: 1000;
}

.hidden {display: none;}

.menu img {
    background-color: lightskyblue;
    border-radius: 180px;
    box-shadow: -5px -5px 10px inset black;
} #closeBTN {
    background-color: tomato;
}

.items {
    height: 100%;
    padding-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.addPage {
    position: fixed;
    width: 95%;
    height: 25%;
    top: 30%;
    right: 2.5%;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 85px;
    border: 7px dashed black;
    font-size: 2em;
    z-index: 1002;
}

#addinp { 
    width: 85%;
    height: 20%;
    border: 3px dashed black;
    font-size: 1.85em;
}
.addPageBTN {
    width: 100%;
    height: 25%;
    gap: 50px;
    display: flex;
    justify-content: center;
}
.addPageBTN input {
    width: 37.5%;
    height: 100%;
    border-radius: 45px;
    box-shadow: -5px -5px 10px inset black;
    font-size: 1.7em;
    font-family: irsans;
    background-color: lemonchiffon;
}
.item {
    width: 90%;
    min-height: 260px;
    background-color: skyblue;
    box-shadow: -10px -10px 30px inset black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 120px;
    /* padding: 20px 0px; */
    font-size: 2em;
}
.text {
    width: 60%;
    font-size: 1.8em;
    font-family: irsans;
    text-align: center;
}
.itemBTN {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 250px;
    gap: 30px;
}
.itemBTN button{
    width: 100%;
    height: 100%;
    /* border-radius: 13px; */
    font-size: 1.2em;
    font-family: irsans;
    color: white;
    background-color: black;
}
.itemBTN1{
    box-shadow: -10px -10px 40px inset blue;
    border-top-left-radius: 120px;
}
.itemBTN2{
    box-shadow: -5px -5px 20px inset red;
    border-bottom-left-radius: 120px;
}
.heart {
    width: 17%;
    margin-right: 3%;
}
.fulHeart {
    filter: drop-shadow(10px 10px 20px black );
}

.del {
    position: fixed;
    width: 95%;
    height: 25%;
    top: 30%;
    right: 2.5%;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 7px solid black;
    border-radius: 30px;
    font-size: 2.4em;
    z-index: 1002;
}
.delText {
     font-size: 1.7em;
    font-family: irsans;
    color: white;
    text-align: center;
}
.edit {
    background-color:deepskyblue;
    align-items: center;
    z-index: 1002;
}
.editInp {
    width: 90%;
    height: 20%;
    font-size: 2em;
    border: 5px dashed black;
}
.access {
    background-color: rgba(0, 0, 0, 0.378);
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: 1001;
}
.hidePage {
    display: none;
}