@font-face {
    font-family: 'irsans' ;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/iranian-sans.woff') format('woff');
}
* {user-select: none;}
:root {
	--bar  :#9000cd ;
	}
html {min-height: 100vh;} 
body {
    margin: 0px; 
	min-height: 100vh;
    color: black;
}
#darsad {
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: irsans;
    right: 20px;
    bottom: 12px;
    padding: 0 12px;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    background-color: var(--bar) ;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 6px black;
    z-index: 1000;
} 
#menuParent {
    position: fixed;
    left: 20px;
    top: 20px;
    width: auto;
    height: 9%;
    z-index: 1000;
    background-color:  white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    display: flex;
    justify-content: center;
    align-items: center; 
}
@keyframes menu {
    from {left: -100%; font-size: 0px;}
    to {left: 0px; font-size: 1em;}
}
@keyframes options {
	from {
height: 0px;
display: none;
}
	to {}
	}
.menu { 
    display: flex;
    justify-content: space-between;
    position: fixed;
    animation-name: menu;
    animation-duration: 0.45s;
    width: 100%;
    height: 9.5%;
    top: 20px;
    z-index: 1000;
}


.menu img {
	border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    height: 90%;
} #closeBTN {
    background-color: tomato;
}
.items {
    height: 100%;
    padding-top: calc(20% + 20px);
    background-color:  white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.item {
    padding-top: 10%;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #90B9FF;
    border: 10px double #333333;
    border-top: none;
    border-bottom: none;
    box-shadow: 10px 10px 20px  black;
    border-radius: 15px;
    width: 85%;
    min-height: 60px;
    height: auto;
    padding: 10px 0px;
    gap: 10px;
    }

.itemInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    justify-items: center;
    align-items: center;
    width: 95%;
    
}
.row1 {
    grid-template-rows: 1fr 1fr;
}
.itemInfo img {
    filter: drop-shadow(4px 4px 8px black );
    z-index: 999;
    animation-name: options;
    animation-duration: 0.6s;
}
.plus {width: auto; height: 45px; grid-row:2/3; grid-column: 1/2;}
.subtrac {width: auto; height: 45px;grid-row:2/3;grid-column: 2/3;}
.textInfo {font-size: 2em; font-family: irsans;grid-row: 1/2;grid-column: 1/5;margin: 0;}
.edit {width: auto; height: 30px;grid-row:2/3;grid-column: 3/4;}
.del {width: auto; height: 30px;grid-row:2/3;grid-column: 4/5;}

.navar {
    display: grid;
    direction: ltr;
    width: 85%;
    min-height: 15px;
    height: auto;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.082);
    box-shadow: 3px 3px 6px inset black;
    border-radius: 20px;
    margin: 10px 0px;
}
.fraktion {
    background-color: var(--bar);
    box-shadow: -2px -2px 4px inset black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    direction: rtl;
    font-family: insans;
    font-size: 1.25em;
}

.add {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 90%;
    height:auto;
    padding: 0px;
    padding-bottom: 10px;
    background-image: linear-gradient(to bottom, skyblue , blue );
    z-index: 1002;
    border: 2px solid white;
    }
.add_p {
    width:50%;
    font-size: 1em;
    font-family: irsans ;
    text-shadow: 2px 2px 7px black;
}
.add input {
    width: 45%;
    height: auto;
    font-size: 1em;
    border: 1px solid black;
}
.add_input {
    width: 30%;
    height: auto;
    font-size: 1em;
}
.top1 {
    display: flex;
    justify-content: space-around;
}
#one {
    width: 90%;
    height: auto;
    font-size: 1em;
    margin-right: 10px;
}

#sub {
    margin-top: 20px;
    width: 50%;
    height: fit-content;
    font-size: 1.2em;
    font-family: irsans ;
    background-color: lightgreen ;
    box-shadow: -2px -2px 4px inset;
}
#can {
    margin-top: 20px;
    width: 50%;
    height: fit-content;
    font-size: 1.2em;
    animation-duration: 1s;
    background-color: tomato ;
    box-shadow: -2px -2px 4px inset;
}
#cancel {
    margin-top: 20px;
    width: 50%;
    height: fit-content;
    font-size: 1.2em;
    font-family: irsans ;
    animation-name: inpsub;
    animation-duration: 1s;
    background-color: tomato ;
    box-shadow: -2px -2px 4px inset;
}

.editPage {
    position: fixed;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); 
    padding-bottom: 20px;
    border: 2px double white;
    background-color: orange;
    z-index: 1002;
    }
.delPage {
    position: fixed;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border: 2px double aqua;
    padding-bottom: 20px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1002;
    }
.delPage p {
    font-size: 1em;
    font-family: irsans ;
    text-shadow: 3px 3px 6px black;
    color: white;
}
.delPage div {
    display: flex;
}
.subDel {
    width: 50%;
    height: fit-content;
    font-size: 1.2em;
    font-family: irsans ;
    background-color: red;
    box-shadow: -2px -2px 4px inset black;

}
.canDel {
    width: 50%;
    height: fit-content;
    font-size: 1.2em;
    font-family: irsans ;
    background-color: yellow;
    box-shadow: -2px -2px 4px inset black;
}

.day {
    position: fixed;
    bottom: 12px;
    left: 15px;
    width: fit-content;
    padding: 0px 5px;
    border: 1px solid black;
    background-color: var(--bar) ;
    box-shadow: 3px 3px 6px black;
    border-radius: 10px;
    z-index: 1000;
}
#day {
    font-size: 1em;
    font-family: irsans;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    color: white;
    font-weight: bold;
}

.access {
    background-color: rgba(0, 0, 0, 0.378);
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: 1001;
}
.hidePage {
    display: none;
}
.hidden {display: none;}